ol{
	list-style: none;
}

ol.well.input-form{
	margin-top: 100px;
}

label.better-placeholder-text+.form-control-feedback{
	top: 0px;
}

label.better-placeholder-text.active+.form-control-feedback{
	top: 10px;
}

td>.label{
	margin-right: 5px;
}