<div>
	<p>Hello {{userdata.email}}!</p>
	<div class="form-group has-feedback">
		<input type="text" name="search" class="form-control better-placeholder" placeholder="Name Filter" ng-model="filter.name">
	</div>
	<button type="button" class="btn btn-primary pull-right" ng-click="sendEmails()">Send emails</button>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<td></td>
				<td ng-click="change('name')">Name <span ng-show="predicate === 'name'" class="glyphicon pull-right" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></span></td>
				<td ng-click="change('balance')">Balance <span ng-show="predicate === 'balance'" class="glyphicon pull-right" ng-class="{'glyphicon-chevron-up': !reverse, 'glyphicon-chevron-down': reverse}"></span></td>
				<td ng-click="change('dob')">Date of Birth <span ng-show="predicate === 'dob'" class="glyphicon pull-right" ng-class="{'glyphicon-chevron-up': !reverse, 'glyphicon-chevron-down': reverse}"></span></td>
				<td ng-click="change('gender')">Gender <span ng-show="predicate === 'gender'" class="glyphicon pull-right" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></span></td>
				<td>Tags</td>
				<td>Operate</td>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="reportRow in data | filter:filter | orderBy:predicate:reverse">
				<td><input type="checkbox" ng-model="reportRow.selected" /></td>
				<td>{{reportRow.name}}</td>
				<td>{{reportRow.balance | currency}}</td>
				<td>{{reportRow.dob | date}}</td>
				<td>{{reportRow.gender}}</td>
				<td><span class="label" ng-class="{'label-primary': $even, 'label-info': $odd}" ng-repeat="tagt in reportRow.tags">{{tagt}}</span></td>
				<td><button ng-click="deleteRow(reportRow)" type="button" class="btn btn-danger btn-sm">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>