<form name="loginForm" ng-submit="submit()">
	<ol class="well input-form">
		<li class="alert alert-success" ng-show="postResult === 1"><b>Success!</b> You loggin correctly!</li>
		<li class="alert alert-danger" ng-show="postResult === 2"><b>Error!</b> Wrong Email or password!</li>
		<li class="form-group has-feedback" ng-class="{'has-success': loginForm.email.$dirty && loginForm.email.$valid, 'has-error': loginForm.email.$dirty && loginForm.email.$invalid}">
			<input type="email" ng-model="data.email" id="email" name="email" placeholder="Email" class="form-control better-placeholder"/>
			<span class="glyphicon form-control-feedback" aria-hidden="true" ng-class="{'glyphicon-ok': loginForm.email.$dirty && loginForm.email.$valid, 'glyphicon-remove': loginForm.email.$dirty && loginForm.email.$invalid}"></span>
		</li>
		<li class="form-group has-feedback" ng-class="{'has-success': loginForm.password.$dirty && loginForm.password.$valid, 'has-error': loginForm.password.$dirty && loginForm.password.$invalid}">
		<li class="form-group has-feedback" ng-class="{'has-success': loginForm.password.$dirty && loginForm.password.$valid, 'has-error': loginForm.password.$dirty && loginForm.password.$invalid}">
			<input type="password" ng-model="data.password" id="password" name="password" placeholder="Password" class="form-control  better-placeholder" required />
			<span ng-class="{'glyphicon-ok': loginForm.password.$dirty && loginForm.password.$valid, 'glyphicon-remove': loginForm.password.$dirty && loginForm.password.$invalid}" class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</li>
		<li class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$pristine || loginForm.$invalid">Submit</button>
		</li>
		<li ng-show="loading"><span class="glyphicon glyphicon-refresh"></span>Pocessing...</li>
	</ol>
	<p>{{data|json}}</p>
	<p>{{loginForm.email}}<br/>{{loginForm.password}}</p>
</form>